@media screen and (max-width: 1450px) {
    .menu-wrapper {
      margin-left: 0;
    }
    .menu-outer .menu-tab {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 1350px) {
    .slide-block .about-wrapper, #respond.comment-respond {
      width: 1100px;
    }
    .info-block-wrapper, .footer-last-wrapper {
      width: 1100px !important;
      margin-left: -550px !important;
    }
    body .common-city .info-block-wrapper {
      width: 100% !important;
      margin-left: 0 !important;
    }
    .footer .info-block-wrapper {
      width: 1160px !important;
      margin-left: -580px !important;
    }
    body .modal-content {
      width: 900px !important;
    }
    .info-block.advans-block ul li img, .advans-block ul li img {
      width: 95px;
    }
    .info-block.advans-block ul li .title, .advans-block ul li .title {
      padding-top: 30px;
      padding-bottom: 15px;
      font-size: 15.5px;
      line-height: 20px;
      width: auto;
    }
  }
  @media screen and (max-width: 1250px) {
    .slide-block .about-wrapper, #respond.comment-respond {
      width: 1000px;
    }
    .info-block-wrapper, .footer-last-wrapper, .wp-block-group .wp-block-group__inner-container {
      width: 1000px !important;
      margin-left: -500px !important;
    }
    .footer .info-block-wrapper {
      width: 1050px !important;
      margin-left: -525px !important;
    }
    .info-block.advans-block ul li .title, .advans-block ul li .title {
      font-size: 14.5px;
      line-height: 19px;
    }
    .sp-tab__lay-default ul .sp-tab__nav-item {
      margin-right: 0 !important;
    }
    .sp-tab__nav-link {
      padding: 7.5px 11px !important;
    }
    #sp-tab__ul li {
      margin-bottom: 11px !important;
    }
  }
  @media screen and (max-width: 1150px) {
    .slide-block .about-wrapper, #respond.comment-respond, .reviews-page ol.commentlist {
      width: 900px;
    }
    .info-block-wrapper, .footer-last-wrapper, .wp-block-group .wp-block-group__inner-container {
      width: 900px !important;
      margin-left: -450px !important;
    }
    .footer .info-block-wrapper {
      width: 960px !important;
      margin-left: -480px !important;
    }
    .info-block.advans-block ul li img, .advans-block ul li img {
      width: 90px;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .info-block.advans-block ul li .title, .advans-block ul li .title {
      float: left;
      width: 90%;
      text-align: center;
      padding-top: 10px;
      margin-left: 5%;
    }
    body .modal-content {
      width: 800px !important;
    }
    .sp-tab__nav-link {
      padding: 7.5px 15px !important;
    }
    .woocommerce ul.products {
      margin-top: 20px !important;
    }
    body .woocommerce ul.products li.product .woocommerce-loop-category__title, body .woocommerce ul.products li.product .woocommerce-loop-product__title, body .woocommerce ul.products li.product h3 {
      min-height: 78px;
    }
  }
  @media screen and (max-width: 990px) {
    .header {
      position: absolute;
    }
    .header .contacts {
      margin-right: 55px;
      margin-left: 0;
    }
    .header .contacts p, .header .contacts p a {
      line-height: 49px;
      font-size: 13.5px;
    }
    .header .contacts img {
      margin-top: 8px;
    }
    body .nav__list-item:nth-child(1):hover:before {
      width: 96px;
    }
    body .nav__list-item:nth-child(2):hover:before {
      width: 92px;
    }
    body .nav__list-item:nth-child(3):hover:before {
      width: 70px;
    }
    body .nav__list-item:nth-child(4):hover:before {
      width: 61px;
    }
    #respond.comment-respond, .reviews-page ol.commentlist {
      width: 90%;
    }
    .slide-block .about-form .title {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
    .slide-block .about-form .title span, h1 {
      font-size: 47px;
      line-height: 45px;
    }
    body .nav__list-item a {
      font-size: 39px;
      line-height: 52px;
    }
    .slide-block .about-form .title span span, .slide-block .about-form .title span span p, .slide-block .about-form .title > div > div > span > span, .slide-block .about-form .title > div > div > span > span p, .slide-block .about-form .title > span > span p strong, .slide-block .about-form .title > div > div > span > span p strong {
      font-size: 17px;
      line-height: 22px;
    }
    .slide-block .about-wrapper {
      width: 92%;
    }
    .slide-block .about-form .title p {
      width: 100% !important;
    }
    .info-block-wrapper, .footer-last-wrapper, .wp-block-group .wp-block-group__inner-container {
      width: 92% !important;
      margin-left: 4% !important;
      left: 0 !important;
    }
    .footer .info-block-wrapper {
      width: 98% !important;
      margin-left: 1% !important;
    }
    .info-block.service-block h2, h2, .info-block.contacts-block h2 {
      font-size: 37px !important;
      line-height: 37px !important;
      width: 90%;
      margin-left: 5%;
    }
    .ask-block .info-block-wrapper .related h2 {
      font-size: 29px !important;
      line-height: 29px !important;
      width: 100%;
      margin-left: 0;
    }
    .info-block.service-block .modal-content h2, .modal-content h2 {
      margin-left: 0;
      font-size: 27px !important;
      line-height: 23px !important;
    }
    .info-block.priloz-block h2, .priloz-block h2 {
      font-size: 23px !important;
      line-height: 29px !important;
      margin-left: 0;
    }
    h3 {
      font-size: 27px !important;
      line-height: 27px !important;
    }
    h4 {
      font-size: 19px !important;
      line-height: 21px !important;
    }
    .info-block.service-block ul li {
      width: 23%;
    }
    body .modal-content {
      width: 92% !important;
    }
    .info-block.about-block.priloz-block .info-block-wrapper .block.block1 img, .priloz-block .block.block1 img {
      max-height: 450px;
      margin-right: 10px;
    }
    .info-block.about-block.priloz-block .info-block-wrapper .block.block2 ul li a img, .priloz-block .block.block2 ul li a img {
      height: 35px;
    }
    .info-block.about-block.priloz-block .info-block-wrapper .block.block2, .priloz-block .block.block2 {
      margin-left: 53.5%;
    }
    .column-contacts .tel a {
      font-size: 32px;
      line-height: 32px;
    }
    .column-contacts .email a {
      font-size: 17px;
      line-height: 17px;
    }
    .socials .social {
      width: 35px;
      height: 35px;
    }
    form.woocommerce-cart-form {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    body .woocommerce ul.products li.product .woocommerce-loop-category__title, body .woocommerce ul.products li.product .woocommerce-loop-product__title, body .woocommerce ul.products li.product h3 {
      font-size: 20px !important;
      line-height: 21px !important;
      min-height: 63px;
    }
    .woocommerce ul.products li.product p {
      width: 100%;
      float: left;
    }
    .woocommerce ul.products li.product .text-field {
      width: 100%;
      float: left;
      margin-top: 25px !important;
    }
    .woocommerce ul.products li.product .text-field .text-field-in, .woocommerce ul.products li.product .text-field .text-field-in span {
      text-align: left;
    }
    .woocommerce ul.products li.product .text-field {
      margin-top: 5px !important;
    }
    .reviews-page ol.commentlist li.comment > .comment-body .commentmetadata {
      top: 40px;
    }
    .reviews-page h3#reply-title {
      font-size: 28px !important;
      line-height: 32px !important;
    }
    #respond.comment-respond {
      padding-top: 50px;
    }
    .reviews-page form#commentform .form-submit {
      margin-bottom: 0;
    }
    .reviews-page ol.commentlist li.comment > .comment-body .fn, .reviews-page ol.commentlist li.comment > .comment-body .fn a {
      font-size: 28px;
    }
  }
  @media screen and (max-width: 900px) {
    body .woocommerce ul.products li.product .woocommerce-loop-category__title, body .woocommerce ul.products li.product .woocommerce-loop-product__title, body .woocommerce ul.products li.product h3 {
      min-height: 84px;
    }
  }
  @media screen and (max-width: 850px) {
    .reviews-page #commentform {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .info-block.service-block ul li {
      width: 31.333%;
      margin-bottom: 2vw !important;
    }
    .info-block.service-block .modal-content .column ul li, .footer .column ul li, .modal-content .column ul li {
      margin-bottom: 4px !important;
    }
    .info-block.service-block .modal-content .column, .footer .column, .modal-content .column {
      width: 44%;
    }
    .single-info .info-block.service-block .sidebar {
      width: 36%;
    }
    .single-info .info-block.service-block .main-content {
      width: 60%;
    }
    .single-info .info-block.service-block .main-content ul li {
      width: 98%;
    }
    .info-block.advans-block, .advans-block {
      margin-top: -125px;
      padding-top: 115px;
    }
    .info-block.advans-block ul li, .advans-block ul li {
      width: 48%;
      margin-right: 4%;
    }
    .info-block.advans-block ul li:nth-child(2), .info-block.advans-block ul li:nth-child(4), .advans-block ul li:nth-child(2), .advans-block ul li:nth-child(4) {
      margin-right: 0;
    }
    .info-block.advans-block ul li .title, .advans-block ul li .title {
      width: 70%;
      margin-left: 15%;
    }
    .info-block.about-block.priloz-block .info-block-wrapper .block.block2, .priloz-block .block.block2 {
      margin-left: 52.5%;
    }
    .info-block.priloz-block h2, .priloz-block h2 {
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .info-block.service-block .modal-content .column ul li a, .footer .column ul li a, .modal-content .column ul li a {
      font-size: 14px;
      line-height: 17px;
    }
    .info-block.service-block .modal-content h2, .modal-content h2 {
      font-size: 24px !important;
      line-height: 20px !important;
      padding-left: 0;
      width: 100% !important;
      text-align: center;
    }
    .wp-block-group.ask-block .wp-block-group__inner-container img, .ask-block .info-block-wrapper img.arrow-down {
      height: 45px;
      width: 45px;
      bottom: -23px;
    }
    .reviews-page ol.commentlist li.comment > .comment-body {
      padding-left: 35px !important;
      padding-right: 30px !important;
      padding-top: 30px !important;
    }
    .reviews-page ol.commentlist li.comment > .comment-body > p {
      text-align: left !important;
    }
    .reviews-page ol.commentlist li.comment > .comment-body .dco-attachment.dco-image-attachment {
      left: 30px;
      top: 30px;
      width: 80px;
    }
    .reviews-page ol.commentlist li.comment > .comment-body .fn {
      width: 100%;
      padding-left: 95px;
      max-width: 100%;
      box-sizing: border-box;
    }
    .reviews-page ol.commentlist li.comment > .comment-body > p {
      width: 100%;
      padding-left: 95px;
      box-sizing: border-box;
    }
    .reviews-page ol.commentlist li.comment > .comment-body .commentmetadata {
      position: static;
      width: 100%;
      padding-left: 95px;
      box-sizing: border-box;
      margin-bottom: 4px;
    }
    .reviews-page ol.commentlist li.comment > .comment-body:after {
      margin-left: 92px;
    }
    .reviews-page ol.commentlist li.comment > ul.children {
      margin: -25px 0 0 35px;
      width: calc(100% - 35px);
    }
    .reviews-page ol.commentlist li.comment > ul.children li > .comment-body {
      padding-left: 115px !important;
    }
    .reviews-page ol.commentlist li.comment > ul.children li > .comment-body:after {
      margin-left: 0;
      width: 70px;
      height: 70px;
      background-size: 70px 70px;
      left: 25px;
      top: 12.5px;
    }
    .reviews-page ol.commentlist li.comment > ul.children li > .comment-body .fn, .reviews-page ol.commentlist li.comment > ul.children li > .comment-body .commentmetadata, .reviews-page ol.commentlist li.comment > ul.children li > .comment-body > p {
      padding-left: 0;
      box-sizing: border-box;
    }
    .reviews-page form#commentform #author {
      max-width: calc(50% - 6px);
      margin-right: 12px;
      box-sizing: border-box;
    }
    .reviews-page form#commentform #email {
      max-width: calc(50% - 6px);
      box-sizing: border-box;
      margin-right: 0;
    }
    .reviews-page form#commentform p.cptch_block {
      margin-left: 0 !important;
      width: auto !important;
      margin-bottom: 20px !important;
    }
    .reviews-page .comment-awaiting-moderation {
      padding-left: 95px;
      box-sizing: border-box;
    }
    .reviews-page form#commentform #author {
      width: calc(50% - 5px);
      margin-right: 10px;
    }
    .reviews-page form#commentform #phone {
      width: calc(50% - 5px);
      margin-right: 0;
    }
    .reviews-page form#commentform #city {
      width: calc(50% - 5px);
      margin-right: 10px;
    }
    .reviews-page form#commentform p.cptch_block {
      margin-left: 4px !important;
    }
    .reviews-page ol.commentlist li.comment > .comment-body > p, .reviews-page ol.commentlist li.comment > .comment-body .commentmetadata, .reviews-page ol.commentlist li.comment > .comment-body .fn {
      padding-left: 0;
    }
    .reviews-page ol.commentlist li.comment > .comment-body:after {
      margin-left: 0;
    }
    .reviews-page ol.commentlist li.comment > .comment-body .fn {
      margin-bottom: 0;
    }
    .reviews-page ol.commentlist li.comment > .comment-body .commentmetadata a {
      font-size: 11px;
    }
    .reviews-page ol.commentlist li.comment > .comment-body .commentmetadata {
      margin-bottom: 10px;
    }
    .reviews-page ol.commentlist li.comment.parent > .comment-body {
      padding-bottom: 55px !important;
    }
  }
  @media screen and (max-width: 650px) {
    .info-block.about-block.priloz-block .info-block-wrapper .block.block2 ul li,
    .priloz-block .block.block2 ul li {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }
  
    .menu-icon,
    .close-modal {
      top: 25px !important;
      right: 25px !important;
    }
  
    .hover-image-effect i span {
      display: none;
    }
  
    body .nav__list-item:nth-child(1):hover:before {
      width: 79px;
    }
  
    body .nav__list-item:nth-child(2):hover:before {
      width: 76px;
    }
  
    body .nav__list-item:nth-child(3):hover:before {
      width: 57px;
    }
  
    body .nav__list-item:nth-child(4):hover:before {
      width: 50px;
    }
  
    .info-block-wrapper {
      padding: 50px 0;
    }
  
    .service-block .info-block-wrapper {
      padding-top: 55px !important;
      padding-bottom: 15px !important;
    }
  
    .footer .info-block-wrapper {
      width: 88% !important;
      margin-left: 6% !important;
    }
  
    .slide-block .about-form .title img,
    .info-block.service-block ul li .modal-content .logo-wrapper img {
      width: 122px;
      padding-bottom: 20px;
    }
  
    .slide-block .about-form .title > span,
    h1,
    .slide-block .about-form .title > div > div > span {
      font-size: 37px;
      line-height: 37px;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
  
    body .nav__list-item a {
      font-size: 32px;
      line-height: 42px;
    }
  
    .slide-block .about-form .title > span > span p,
    .slide-block .about-form .title > div > div > span > span p {
      font-size: 15px;
      line-height: 20px;
      width: 100%;
    }
  
    .slide-block .about-form .title > span br,
    .slide-block .about-form .title > div > div > span > span br {
      display: none;
    }
  
    .info-block.service-block h2,
    h2,
    .info-block.contacts-block h2 {
      font-size: 31px !important;
      line-height: 33px !important;
    }
  
    .info-block.service-block ul li,
    .single-info .info-block.service-block ul li {
      width: 48%;
    }
  
    h3 {
      font-size: 23px !important;
      line-height: 25px !important;
    }
  
    h4 {
      font-size: 18px !important;
      line-height: 8px !important;
    }
  
    p {
      font-size: 14px;
      line-height: 20px;
    }
  
    .snip1205 i span {
      font-size: 14px !important;
    }
  
    .info-block.service-block .modal-content .column,
    .footer .column,
    .modal-content .column {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  
    .info-block.advans-block ul li .title,
    .advans-block ul li .title {
      width: 90%;
      margin-left: 5%;
      font-size: 14px;
      line-height: 18px;
    }
  
    .info-block.about-block.priloz-block .info-block-wrapper .block.block1 img,
    .priloz-block .block.block1 img {
      margin-right: 20px;
      height: 250px !important;
    }
  
    .nav__list {
      margin-top: -20px !important;
    }
  
    .slide-block .about-form {
      margin-top: -80px !important;
    }
  
    .scroll-down {
      bottom: 0 !important;
      margin-bottom: 140px !important;
    }
  
    .breadcrumbs-wrapper .breadcrumbs {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
  
    body .breadcrumbs-wrapper .breadcrumbs span span {
      font-size: 10px !important;
    }
  
    .slide-block .column-contacts {
      top: 25px;
      left: 25px;
    }
  
    .slide-block .column-contacts .tel a {
      font-size: 16px;
    }
  
    .slide-block .column-contacts .email a {
      font-size: 10px;
    }
  
    .slide-block .socials {
      left: 15px;
      bottom: 80px;
    }
  
    .slide-block .socials .social {
      height: 27px;
      width: 27px;
    }
  
    .sp-tab__lay-default li.sp-tab__nav-item {
      width: auto !important;
    }
  
    .sp-tab__nav-link {
      padding: 2.5px 7px 10px 7px !important;
    }
  
    .sp-tab__nav-link .sp-tab__tab_title {
      font-size: 12.5px !important;
    }
  
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product,
    .woocommerce form .form-row#order_comments_field textarea {
      padding-left: 7% !important;
      padding-right: 7% !important;
    }
  
    .slide-block .about-form .title img {
      padding-bottom: 0;
      margin-top: 20px;
    }
  
    div.breadcrumbs-wrapper {
      display: none;
    }
  
    .reviews-page ol.commentlist li.comment > .comment-body > p {
      padding-left: 0;
    }
  
    .reviews-page ol.commentlist li.comment > .comment-body:after {
      margin-left: 0;
    }
  
    .reviews-page ol.commentlist li.comment > ul.children li > .comment-body > p {
      width: calc(100% + 110px);
      margin-left: -90px;
    }
  
    .reviews-page ol.commentlist li.comment > .comment-body .commentmetadata {
      min-height: 46px;
    }
  
    .reviews-page ol.commentlist li.comment > ul.children {
      margin-top: -45px;
    }
  
    .reviews-page form#commentform p.comment-form-attachment {
      width: 100%;
    }
  
    .reviews-page form#commentform .form-submit {
      float: left;
      margin-top: 20px;
    }
  
    .reviews-page form#commentform .form-submit input {
      margin-bottom: -10px;
    }
  
    .reviews-page form#commentform #author,
    .reviews-page form#commentform #email,
    .reviews-page form#commentform #url {
      width: 100%;
    }
  
    .info-block.service-block .modal-content img {
      max-width: 100%;
      height: auto;
    }
  
    .slide-block .column-contacts img {
      width: 100%;
      height: auto;
    }
  
    .single-info .info-block.service-block .modal-content img {
      width: 100%;
      height: auto;
    }
  
    .info-block.about-block.priloz-block .info-block-wrapper .block.block1 img {
      width: 100%;
      height: auto;
    }
  
    .priloz-block .block.block1 img {
      width: 100%;
      height: auto;
    }
  
    .info-block.service-block img {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media (min-width: 600px) {
    .components-snackbar,
    .wc-block-cart .wc-block-cart__submit-container--sticky {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  @media screen and (prefers-reduced-motion: reduce) {
    .wp-block-woocommerce-cart.is-loading .wp-block-woocommerce-cart-accepted-payment-methods-block, .wp-block-woocommerce-cart.is-loading .wp-block-woocommerce-cart-express-payment-block, .wp-block-woocommerce-cart.is-loading .wp-block-woocommerce-cart-order-summary-block, .wp-block-woocommerce-cart.is-loading .wp-block-woocommerce-proceed-to-checkout-block {
      -webkit-animation: none;
      animation: none;
    }
  }
  @media only screen and (max-width: 700px) {
    .wp-block-woocommerce-cart.is-loading {
      padding-top: 16px;
    }
    .wp-block-woocommerce-cart.is-loading .wp-block-woocommerce-filled-cart-block {
      flex-direction: column;
      margin: 0 auto 16px;
    }
    .wp-block-woocommerce-cart.is-loading .wp-block-woocommerce-cart-items-block, .wp-block-woocommerce-cart.is-loading .wp-block-woocommerce-cart-totals-block {
      padding: 0;
      width: 100%;
    }
  }
  @media only screen and (max-width: 782px) {
    .cptch_reload_button {
      width: 48px;
      height: 48px;
      font-size: 48px;
    }
  }