.scroll-down {
    display: block;
    position: absolute;
    bottom: 120px;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    margin-left: -5px !important;
  }
  .scroll-down:hover {
    color: #ff131d !important;
  }
  .scroll-down:after {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    margin: -11px 0 0 -7px;
    border-left: 1.5px solid #fff;
    border-bottom: 1.5px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    -moz-transition: color 0.2s 0.02s ease;
    -o-transition: color 0.2s 0.02s ease;
    -webkit-transition: color 0.2s 0.02s ease;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
    -ms-transition: All 0.4s ease;
    transition: All 0.4s ease;
  }
  .scroll-down:hover:after {
    border-left: 1.5px solid #ff131d;
    border-bottom: 1.5px solid #ff131d;
  }
  .scroll-down:before {
    position: absolute;
    top: -22px;
    left: -22px;
    z-index: -1;
    content: "";
    width: 54px;
    height: 54px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb 3s infinite;
    animation: sdb 3s infinite;
    box-sizing: border-box;
  }